<% sap = current_user.student_application_form %>
<% settings = ProjectSettings.first_or_create! %>
<% unless current_user.role != 'admin'%>
	<br/><br/>
	<p class="no-results">You do not have permission to access this page</p>
<% else %>
  <div id="studies">
    <%unless current_user.progress_status == "during_mobility" %>
      <%= render partial: "users/before_user_dashboard", :locals => {
          :admin => false,
          :name => :learning_agreement,
          :current_user => current_user,
          :content => current_user.learning_agreement,
          :file_name => current_user.learning_agreement_file_name,
          :label => "Traineeship Agreement"}  %>
    <%else %>
      <%= render partial: "users/during_user_dashboard", :locals => {
          :admin => false,
          :name => :learning_agreement,
          :current_user => current_user,
          :content => current_user.learning_agreement,
          :file_name => current_user.learning_agreement_file_name,
          :label => "Learning Agreement"}  %>

    <%end %>
  </div>
	<%end%>